@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&family=Raleway:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat:ital', sans-serif;
}

h1,
h2,
h3,
h4,
h6 p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
}
